<li id = "message-<%= message.id %>">
  <span class="created_at"><%= message.created_at.strftime("%H:%M") %></span>
  <% if current_user %>
  	<%= "#{message.from_user.username} #{t(:said)} : #{message.content}" %>
  	<%= link_to t(:delete), message, :confirm => t(:ays), :remote => true ,:method => :delete %>
  <% end %>
</li>

