<%- model_class = @user.class -%>
<h1><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                 :default => t(:edit_users)) %></h1>
<%= render :partial => 'form' %>
